*sublime*
__pycache__
*.pyc
*.iml
node_modules
pipcache
frontend/dist/*
nginx/static/*
nginx/ssl/*
*.log
backups/*.bak
.idea
nginx/ssl/
.DS_Store
backend/media/*
.env
*.pid
backend/celerybeat-schedule
backend/centrifugo
frontend/.vscode
